*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 .numberPlateList li{
    height: 100%;
    border: 1px solid black;
    min-width:70px;
    height: fit-content;
    background-color: rgb(192, 192, 192);
    border-radius: 5px;
} 
label{
    display: block;
    /* margin: 0.5rem 0; */
    color: aliceblue;
}
label p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    color: #669BBC;
    font-size: 20px;
    font-weight: 1000;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:  #001219;/* #003049; */
    height: 100vh;
}
h1{
    margin-bottom: 30px;
    color: #669BBC;
}
h2{
    margin-bottom: 10px;
    color: #669BBC;
}
input{
    margin-bottom: 20px;
    min-height: 30px;
}
select{
    display: block;
    margin-bottom: 10px;
    min-height: 30px;
    width: 170px;
}
.button{
    margin-bottom: 25px;
    background-color: #03071e;
    color: azure;
    justify-content: center;
    border-radius: 6px;
    display: flex;
    align-items: center;
    min-width:85px;
    height: 30px;
}
li{
    list-style: none;
}
ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}
.warning{
    color:rgb(202, 18, 18);
    font-size: 1em; 
    font-weight: 1000;
}